<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {{pageTitle}}
        </title>
    </head>
    <body>
        {{> header}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, a quisquam dicta, architecto eius sunt laborum, labore dignissimos aperiam ipsum repudiandae autem dolorem consequatur asperiores voluptatem! Animi culpa fugit eligendi.</p>
    </body>
    {{> footer}}
</html>