<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {{pageTitle}}
        </title>
    </head>
    <body>
        <header>
            <h1>We'll be back</h1>
        </header>
        <p>Temporaly Down for Maintenance.</p>
        <p>We should be back online shortly.</p>
    </body>
    {{> footer}}
</html>