<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {{pageTitle}}
        </title>
    </head>
    <body>
        {{> header}}
        <p>
            The portafolio goes here.
        </p>
        <p>Hi. I'm Carlos Morán and I'm very excited with the NodeJS course!</p>
        <p>Today I learn a lot of things</p>
        <p>
            For example, I lear how to add a version controller to the project and deploying the app in heroku, which is fantastic!
        </p>
        </body>
    {{> footer}}
</html>